<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Should do List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="scripts/javascript/script.js"></script>  
    
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script> 
    <!--
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.0/angular-ui.min.js"></script>

  <!-- <script src="node_modules/angular-filter/dist/angular-filter.min.js"></script>-->
   <!-- 1.2.7 
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> -->

        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>-->
          
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  </head>

  <body ng-app="todoApp" ng-controller="todoController">
        <!--<div class="menu-bar"><nav>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="material-icons">close</i></a>-->
            <ul>
                <li class="selected first"><a href="#/home">Home</a></li>

                <li class="second"><a href="#/addlist">Voeg note toe</a></li>
                
                <li class="third"><a href="#/info">Informatie</a></li>
            </ul>
        </nav>
        <!-- Use any element to open the sidenav -->

      <!--<span onclick="openNav()" ng-click="uniqueItems()"><i class="material-icons">menu</i></span>-->
      <div class="search"><div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div> 
      </div>
    </div>
    <div class="listDiv">

    <br><br/>

    <!--<select ng-model="orderProp" ng-click="filters.category = getCategoryByNote(note)" ng-options="note in notes | getCategoryByNote(note) | filter: filters track by $index">
    <option value="0">Default</option>
    // unique options from the categories
    </select> -->

<!-- test 
        <ul>
    <li ng-repeat="attr in data">
      <input type="radio" name='data-attr' value='{{attr.id}}' ng-model="selected.id" />{{attr.id}}
    </li>
  </ul>
  
  <select ng-model="selected.value" ng-options="item.id for item in selectedAttr.values ">
  </select>
  
  <hr>
  selectedAttr: {{selectedAttr | json}}
  <hr>
  Selected: {{selected | json}}

  </div>

  --> 

  <!--  <form>
      <div class="form-group">
        <label for="itemInput">Should do item</label>
        <input type="text" class="form-control" id="itemInput" placeholder="item ..." ng-model="newItem.name">
      </div>
        <input type="text" class="form-control" id="categoryInput" placeholder="category ..." ng-model="newItem.category">
      </div>

      <button type="button" class="btn btn-danger">Reset</button>
      <button type="submit" class="btn btn-primary" ng-click="saveNewItem()" ng-model="newItem">Save</button>
    </form>-->

     <div ng-view=""></div> 
      <script type="text/javascript" src="scripts/app.js"></script>
      <script type="text/javascript" src="scripts/filters/filters.js"></script>
      <script type="text/javascript" src="scripts/filters/filters2.js"></script>
      <script src="scripts/controllers/factorycontroller.js"></script>
      <script src="scripts/controllers/todocontroller.js"></script>
      <script src="scripts/controllers/addlistcontroller.js"></script>
      <script src="scripts/controllers/localstoragecontroller.js"></script>
    <!--<script type="text/javascript" src="unique.js"></script> -->
    
  </body>