<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Should do Listttt</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>  
    
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css">
    .groceries {
    	color: #BADA55;
    }

    .work {
    	color: #C0FFEE;
    }

    .school {
    	color: #D13537;
    }

    </style>

    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script> 
    <!-- -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.0/angular-ui.min.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="myAppList">

    <select ng-model="query" ng-options="c.cat as c.cat for c in products | unique:'cat'">
        <option value="0">Default</option>
    </select>

    <ul>
        <li ng-repeat="c in products | filter:{cat:query}">
            {{c.name}}
        </li>
    </ul>
</div>


    <script type="text/javascript" src="test.js"></script>

  </body>
  </html>