<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Should do List</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>  
    
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script> 
          
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  </head>

  <body ng-app="todoApp" ng-controller="todoController">
   
    <h1>home page</h1>

    <div class="search"><div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div> 
      </div>

    <br><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Item</th><th>Category</th><th>Status</th><th>Priority</th><th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in notes | filter: checked=false | filter: searchTerm track by $index">
               <td>{{note.id}}</td>
                <td>
                    <span ng-hide="note.updating">{{note.name | hoofdletterFilter}}</span>
                    <input type="text" ng-model="note.name" ng-show="note.updating">
                </td>
                <td>
                    <span ng-hide="note.updating">{{getCategoryByNote(note)}}</span>
                    <input type="text" ng-value="getCategoryByNote(note)" ng-model="categoryValue" ng-show="note.updating"> 
                </td>
                <td>
                    {{getPriorityByNote(note)}}
                </td>
                <td>
                <span ng-hide="note.updating">{{getCommentByNote(note)}}</span>
                <input type="text" placeholder="{{getCommentByNote(note)}}" ng-value="getCommentByNote(note)" ng-model="commentValue" ng-show="note.updating">
                </td>
                <td>
                    <input type="checkbox" ng-model="note.checked">
                </td>
                <td>
                    <button ng-click="showMe = !showMe"><i class="material-icons">create</i></button>
                </td>
                <td>
                <div ng-show="showMe">
                    <button type="button" class="btn btn-success" ng-click="updateItem(note, commentValue, categoryValue)" ng-show="note.updating">Save</button>

                    <button type="button" class="btn btn-warning" ng-click="note.updating=true;" ng-hide="note.updating">Update</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteItem(note)">Delete</button>
                </td>
                </div>
            </tr>

        </tbody>
    </table> 
    <script type="text/javascript" src="app.js"></script>
     <script type="text/javascript" src="scripts/filters/filters.js"></script>
    
  </body>